server:
  port: 8080

spring:
  datasource:
    # file-based H2 database in project folder (persists between runs)
    url: jdbc:h2:file:./data/beamdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
    com.sordonez.beamdesign.worker: DEBUG