apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: beamdesigns.beam.sordonez.com
spec:
  group: beam.sordonez.com
  names:
    kind: BeamDesign
    plural: beamdesigns
    singular: beamdesign
  scope: Namespaced
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                length:
                  type: number
                loads:
                  type: array
                  items:
                    type: object
                supports:
                  type: array
                  items:
                    type: string
                materialId:
                  type: string
                sweep:
                  type: object
            status:
              type: object
              properties:
                phase:
                  type: string
                jobName:
                  type: string
                resultId:
                  type: string
                summary:
                  type: object